<form (ngSubmit)="onSubmit()">
  <input type="text" name="product name" placeholder="product name" [(ngModel)]="product.name">
  <input type="text" name="product tag" placeholder="product tag" [(ngModel)]="product.tag">
  <input type="number" name="product quantity" placeholder="product quantity" [(ngModel)]="product.qty">
  <input type="text" name="product comment" placeholder="product comment" [(ngModel)]="product.comment">
  <input type="submit" value="Add">
</form>
