<div class="container mt-3">
  <!-- on injecte les valeurs dans les @Input() list et uri, on attache en methode à l'@Output() pour écouter l'evenement (cf list.component.ts)-->
  <app-list [list]="shoppingListArray" (delete)="onDelete($event)" [uri]="'shopping-list'"></app-list>
  <!-- la directive ngSsubmit permet d'intercepter l'event submit d'un formulaire pour déclencher une méthode de votre choix (ici addShoppingList) -->
  <form class="mt-4" (ngSubmit)="addShoppingList()">
    <div class="row">
      <div class="col">
        <!-- ngModel est une directive qui permet de syncroniser la valeur d'une propriété de component avec celle d'un input -->
        <input type="text" class="form-control" placeholder="Shopping list name" [(ngModel)]="newShoppingList.name" name="shoppingListName">
      </div>
      <div class="col-md-auto">
        <button class="btn btn-success" type="submit">Add</button>
      </div>
    </div>
  </form>
</div>